<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-wrapper-logo">
        <a href="index.html" class="logo"
          ><svg class="svg-logo"><use href="img/sprite.svg#logo"></use></svg
        ></a>
        <a href="page_comics.html" class="paragraf">Comics</a>
      </div>

      <nav>
        <ul class="footer-list">
          <li class="footer-list-item">
            <svg class="item-svg">
              <use href="img/sprite.svg#facebook"></use>
            </svg>
          </li>
          <li class="footer-list-item">
            <svg class="item-svg">
              <use href="img/sprite.svg#instagram"></use>
            </svg>
          </li>
          <li class="footer-list-item">
            <svg class="item-svg">
              <use href="img/sprite.svg#linkedin"></use>
            </svg>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="block">
    <p class="text-footer">Privacy Policy Public Offering Agreement</p>
  </div>
</footer>
