<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="../index.html" class="link-logo"
        ><svg class="logo"><use href="../img/sprite.svg#logo"></use></svg
      ></a>
      <form class="label form-search">
        <input
          class="input"
          placeholder="search"
          name="input"
          autocomplete="off"
        />
        <ul class="new-list-comic"></ul>
        <button type="submit" class="button-submit">
          <svg class="input-svg">
            <use href="../img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
    </nav>
  </div>
</header>
