<section class="hero">
  <div class="background"></div>
  <div class="container">
    <div class="hero-wrapper">
      <p class="text-all-comics">WEB-BASED PLATFORM</p>
      <h1 class="title-hero">Comics</h1>
      <p class="description-hero">
        Comics is a medium used to express ideas with images, often combined
        with text or other visual information.
      </p>
    </div>
    <div class="wrapp-button">
      <button class="button-back"><a href="index.html">BACK HOME</a></button>
    </div>
  </div>
</section>
