<section class="filter-section">
  <div class="container">
    <form class="form-filter">
      <label class="label"
        >Title Starts With
        <input type="text" placeholder="Enter text" class="search-input" />
        <!-- <svg><use ></use></svg> -->
      </label>
      <div class="wrapper-type-comics">
        <label class="label"
          >Format <input type="text" class="input-filter"
        /></label>
        <label class="label"
          >Order by <input type="text" class="input-filter"
        /></label>
      </div>

      <label class="label"
        >Start Year <input type="date" class="input-filter"
      /></label>
    </form>
  </div>
</section>
