<section class="section-comics">
  <div class="container">
    <h2 class="sub-title">Last Comics</h2>
    <ul class="comics js-comics"></ul>
    <div class="js-button-wrapper button-wrapper">
      <button class="button-prev js-previous">
        <svg class="svg-comics"><use href="../img/sprite.svg#left"></use></svg>
      </button>
      <button class="button-next js-next">
        <svg class="svg-comics"><use href="../img/sprite.svg#right"></use></svg>
      </button>
    </div>
  </div>
</section>
