<section class="section">
  <div class="container">
    <div class="section-wrapper">
      <div class="thumb">
        <p class="text">Web-based platform</p>
        <h1 class="title">Marvelous Adventures</h1>
        <p class="description">
          is a web-based platform that provides an immersive experience for
          users to explore and discover a vast collection of Marvel characters
          and comics. Start exploring the Marvelous Adventures now by visiting
          our Characters and Comics sections and discover your new favorites
          today.
        </p>
        <button class="button js-button">
          <a href="../page-comics.html">All Comics</a>
        </button>
      </div>
      <div class="swiper">
        <ul class="gallery"></ul>
        <div class="pagination"></div>
      </div>
    </div>
  </div>
</section>
