<section class="filter-section">
  <div class="container">
    <form class="form-filter">
      <label class="label"
        >Title Starts With
        <input
          name="search"
          type="text"
          value=""
          placeholder="Enter text"
          required
          class="search-input"
        />
        <button type="submit" class="button-filer">
          <svg><use href="../img/sprite.svg#search"></use></svg>
        </button>
      </label>
      <div class="wrapper-type-comics">
        <label class="label"
          >Format
          <!-- <input type="text" class="input-filter" /> -->

          <select class="select-format js-select">
            <option>Comic</option>
            <option>Magazine</option>

            <option>Trade paperback</option>

            <option>Hardcover</option>

            <option>Digest</option>
            <option>Graphic novel</option>

            <option>Digital comic</option>
            <option>Infinite comic</option>
          </select>
        </label>
        <label class="label"
          >Order by
          <!-- <input type="text" class="input-filter" />-->
          <select class="select-format js-by-order">
            <option>Title</option>
            <option>On Sale Date</option>
          </select>
        </label>
      </div>

      <label class="label"
        >Start Year
        <input type="date" class="input-filter js-date" value="2024-09-10"
      /></label>
    </form>
  </div>
</section>
