.all-comics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.comic-list-item {
  width: 323px;
}
@media screen and (min-width: 1440px) {
  .comic-list-item {
    width: 336px;
  }
}

.comic-list-item:last-child {
  margin-right: 0px;
}

.all-img-comics {
  width: 323px;
  height: 374px;
  margin-bottom: 14px;
  border-radius: 8px;
}

.title-comics {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
}
.author {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fafafa83;
}
