.all-comics {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.comic-list-item {
  width: 323px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .comic-list-item {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .comic-list-item {
    flex-basis: calc(100% / 4);
    margin-bottom: 64px;
  }
}

.comic-list-item:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}

.all-img-comics {
  width: 100%;
  height: 374px;
  margin-bottom: 14px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .all-img-comics {
    width: 323px;
    height: 374px;
  }
}

.title-comics {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
}
@media screen and (min-width: 1440px) {
  .title-comics {
    width: 323px;
  }
}
.author {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fafafa83;
}
/* pagination */

.tui-first {
  display: none !important;
}
.tui-last {
  display: none !important;
}

.tui-page-btn {
  border: 1px solid #fafafa56 !important;
  width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
  border-radius: 4px !important;
  margin-right: 8px !important;
  color: #fafafa !important;
}
.tui-page-btn:last-child {
  margin-right: 0 !important;
}
.tui-pagination .tui-is-selected {
  background-color: transparent !important;
  border: 1px solid #34387f !important;
}
.tui-next {
  margin-left: 0 !important;
}
.tui-pagination .tui-prev {
  background-color: #34387f !important;
}
.tui-pagination .tui-next {
  background-color: #34387f !important;
}

.tui-pagination .tui-ico-prev {
  width: 8px;
  height: 12px !important;
  background-position: -19px 2px !important;
}

.tui-pagination .tui-ico-next {
  background-position: -22px -22px !important;
  height: 11px !important;
}
.tui-pagination .tui-is-disabled {
  background: transparent !important;
  cursor: default;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {
  background-position: -26px -10px !important;
  height: 12px !important;
}
