.hero {
  position: relative;
  height: 291px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 79px;
    height: 500px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    margin-top: 79px;
    height: 569px;
  }
}
.background {
  position: absolute;
  top: -170px;
  right: 0px;
  width: 100vw;
  height: 461px;
  background-image: url("/img/avengers-marvel-mobil.jpg");
  background-repeat: no-repeat;
  background-size: 375px 461px;
  background-position: 50% 50%;
  background-attachment: fixed;
  z-index: -1;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .background {
    background-image: url(/img/Marvelous_Adventures_Comics/avengers-marvel_mobail@2x.webp),
      url(/img/Marvelous_Adventures_Comics/avengers-marvel_mobile@3x.jpg),
      url(/img/Marvelous_Adventures_Comics/avengers-marvel_mobail@2x.webp),
      url(/img/Marvelous_Adventures_Comics/avengers-marvel_mobile@3x.webp);
  }
}

@media screen and (min-width: 768px) {
  .background {
    position: absolute;
    top: -200px;
    right: 0;

    width: 768px;
    height: 769px;
    background-image: url("/img/avengers-marvel-tablet.jpg");
    background-size: 580px 651px;
    background-position: top right;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background {
      background-image: url(/img/Marvelous_Adventures_Comics/avengers-marvel_tablet@2x.jpg),
        url(/img/Marvelous_Adventures_Comics/avengers-marvel_tablet@3x.jpg),
        url(/img/Marvelous_Adventures_Comics/avengers-marvel_tablet@2x.webp),
        url(/img/Marvelous_Adventures_Comics/avengers-marvel_tablet@3x.webp);
    }
  }
}
@media screen and (min-width: 1440px) {
  .background {
    position: absolute;
    top: -260px;
    right: 0px;
    width: 1281px;
    height: 769px;
    background-image: url("/img/avengers-marvel\ 1.png");
    background-size: 1281px 769px;
    background-position: right top;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .background {
      background-image: url(/img/Marvelous_Adventures_Comics/avengers-marvel_desk@2x.jpg),
        url(/img/Marvelous_Adventures_Comics/avengers-marvel_desk@3x.jpg),
        url(/img/Marvelous_Adventures_Comics/avengers-marvel_desk@2x.webp),
        url(/img/Marvelous_Adventures_Comics/avengers-marvel_desk@3x.webp);
    }
  }
}
.hero-wrapper {
  margin-top: 204px;
}
.text-all-comics {
  font-size: 14px;
  color: #ffffffb3;
  margin-bottom: 14px;
  line-height: 18px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .text-all-comics {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}

.title-hero {
  font-size: 60px;
  font-weight: 500;
  color: #fafafa;
  line-height: 60px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .title-hero {
    font-size: 150px;
    line-height: 150px;
  }
}

.description-hero {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .description-hero {
    font-size: 16px;
    margin-left: 88px;
    width: 469px;
  }
}

.button-back {
  background-color: transparent;
  border: 1px white solid;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
}

.wrapp-button {
  display: flex;
  justify-content: end;
  margin-top: 71px;
}
@media screen and (min-width: 768px) {
  .wrapp-button {
    margin-top: 171px;
  }
}
