.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 55;
}
.div {
  max-height: 100vh;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.overlay {
  background-color: #000;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .overlay {
    width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .overlay {
    width: 1000px;
    padding: 64px 32px;
    border-radius: 8px;
    display: flex;
  }
}

.active-button {
  background-color: #34387f;
  border: 1px white solid;
  svg {
    fill: #fafafa;
    opacity: 1;
  }
}

.is-modal-open {
  display: flex;
}
.button-close {
  background-color: transparent;
  right: 10px;
  top: 10px;
  position: absolute;
  border: none;
}
@media screen and (min-width: 1440px) {
  .button-close {
    right: 16px;
    top: 16px;
  }
}
.button-close svg {
  width: 28px;
  height: 28px;
}
.maybe-slider {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .maybe-slider {
    margin-right: 16px;
    margin-bottom: 0px;
  }
}

.photo-comics {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (min-width: 767px) {
  .photo-comics {
    width: 332px;
    height: 445px;
  }
}

.thumb-modal {
  background-color: #171717;
  border-radius: 8px;
  padding: 32px 16px;
}
@media screen and (min-width: 1440px) {
  .thumb-modal {
    min-width: 588px;
    min-height: 514px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fcfcfc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.info-comics {
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .info-comics {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.comics-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4px;
}
@media screen and (min-width: 1440px) {
  .comics-caption {
    font-size: 20px;
    margin: 0;
  }
}
.name-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #fafafa76;
}
.comics-descriptions {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1440px) {
  .comics-descriptions {
    font-size: 16px;
    margin-bottom: 16px;
    width: 556px;
  }
}

.list-info-comics {
  display: flex;
  margin-bottom: 32px;
}
.list-info-comics > li {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .list-info-comics > li {
    margin-right: 32px;
  }
}

.text-inf {
  color: #fafafa76;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 4px;
}
@media screen and (min-width: 1440px) {
  .text-inf {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }
}
.text-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

/* repit */
.creators-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1440px) {
  .creators-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.creators {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.images-creators {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 14px;
}
@media screen and (min-width: 1440px) {
  .images-creators {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 14px;
  }
}
.thumb-role {
  display: flex;
  flex-direction: column;
}
.role {
  color: #fafafa76;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 8px;
}
@media screen and (min-width: 1440px) {
  .role {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
  }
}
.name-writer {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
@media screen and (min-width: 1440px) {
  .name-writer {
    font-size: 14px;
    line-height: 18px;
  }
}

/* repit */
.title-characters {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .title-characters {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.characters {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.characters > li {
  margin-bottom: 16px;
  flex-basis: calc(100% / 3);
  display: flex;
  align-items: center;
}
.svg-characters {
  margin-right: 8px;
  width: 10px;
  height: 10px;
  fill: #fafafa;
}
.characters > li:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}
