.swiper-container {
  width: 332px;
  margin-right: 16px;
}
.swiper-wrapper {
  margin-bottom: 8px;
}

.thumbsSlider {
  width: 332px;
}

.thumbsSlider .swiper-slide {
  height: 80px;
  width: 80px;
  display: flex;
  opacity: 0.4;
}

.thumbsSlider .swiper-slide {
  margin-right: 8px;
  margin-bottom: 8px;
}

.thumbsSlider .swiper-slide:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}
.thumbsSlider .swiper-slide img {
  display: block;
  width: 80px;
  border-radius: 8px;
  height: 80px;
  object-fit: cover;
}
.thumbsSlider .swiper-slide-thumb-active {
  opacity: 1;
}
