:root {
  --bg-body: #0c0b0b;
  --main-font: "Poppins", sans-serif;
  --main-color-font: #fafafa;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bg-body);
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  color: var(--main-color-font);
}
@media screen and (min-width: 1440px) {
  body {
    position: relative;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fafafa;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media screen and (min-width: 335px) and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 704px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1376px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.is-active {
  background-color: #34387f !important;
}

button {
  cursor: pointer;
}
/* loader */

.loader-container {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 55;
}

.wrapper-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2d2a2a;
  position: absolute;
}
.loader {
  font-weight: 600;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff00e1 #d900ff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
.invisible {
  display: none;
}
/* .visible {
  display: flex;
} */
